thead{
  background-color: lightblue;
  font-size: large;
}
tr:hover{
  background-color: aliceblue;
  font-weight: bold;
}

td{
  vertical-align: bottom;
  font-size: medium;
  overflow-x:auto;
}

#cryptodata{
  vertical-align: baseline;
}
table{
  border: solid 1px black;
  overflow-x:auto;
}