@import "~font-awesome/css/font-awesome.min.css";

.btn {
  margin: 2px;
}
.chart{
  display: inline;
  float: left;
  width: 50%;
  height: 500px;
}

.detail{
  width: 50%;
  height:500px;
  overflow: scroll;
}

.mat-list-item{
  display: inline;
}

body{
  viewport-fit:cover;
}

.mat-toolbar>
span{
  padding: 50px;
}
