<mat-card class="container-fluid">
  <div class="container">

    <mat-toolbar class="container-fluid statbar" >
      <span>Rank: {{chartCrypto.market_cap_rank}}</span>
      <span>Price:{{chartCrypto.current_price|currency}}</span>
      <span>24h High:{{chartCrypto.high_24h|currency}}</span>
      <span>24h Low:{{chartCrypto.low_24h|currency}}</span>
    </mat-toolbar>
  </div>

    <div class="chart">
 <span> <button class="btn btn-danger"  (click)="onHome()" >Home</button> </span>

 <span> <button class="btn btn-danger" (click)="onBack()" >Back</button> </span>
  <span> <button class="btn btn-danger" (click)="onNext()" >Next</button> </span>
      <span style="text-align: center">
        <h1>{{ legend }} High Low Chart</h1></span
      >
      <canvas
        baseChart
        [type]="'line'"
        [legend]="true"
        [datasets]="data"
        [labels]="chartLabels"
        [options]="chartOptions"
      ></canvas>
    </div>
    <div class="container detail">
      <app-crypto-info></app-crypto-info>
    </div>
</mat-card>
