.btn {
  margin: 2px;
}


.chart{
  display: inline;
  float: left;
  overflow: scroll;
  max-width: 50%;
  max-height: 50%;
}

.detail{
  overflow: scroll;
  max-width: 50%;
  max-height: 50%;
  float: right;
}
