/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";


html, body { margin:0 auto; height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(to top, #33ccff -100%, #ff99cc 128%);
 }
.mat-card{
  opacity: 95%;
}
